[include]
  path = ~/.gitconfig.local

[core]
  pager = delta
  editor = nvim

[merge]
  ff = false

[pull]
  ff = only

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

