[include]
  path = ~/.gitconfig.local

[core]
  pager = delta
  editor = nvim
  autocrlf = false
  safecrlf = true

[merge]
  ff = false

[pull]
  ff = only

[interactive]
  diffFilter = delta --color-only

[delta]
  line-numbers = true
  side-by-side = true
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[push]
  default = simple
