configuration {
  modi: "window,drun,ssh,combi";
  sidebar-mode:  true;
  kb-cancel: "Escape,Control+bracketleft";
  kb-mode-previous: "Alt+p";
  kb-mode-next: "Alt+n";
  show-icons: true;
  theme: "solarized_alternate";
  font: "SauceCodePro 18";
}
