[settings]
debug = false
api_key = %API_KEY%
hide_file_names = false
hide_project_names = false
hide_branch_names = false
exclude_unknown_project = false
exclude =
    ^COMMIT_EDITMSG$
    ^TAG_EDITMSG$
    ^/var/(?!www/).*
    ^/etc/
include =
    .*
include_only_with_project_file = false
status_bar_icon = true
status_bar_coding_activity = true
offline = true
timeout = 30
[git]
disable_submodules = false
