name: build

on: [push]

jobs:
  ubuntu:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04]
    steps:
      - uses: actions/checkout@v1
      - name: Install required packages
        run: |
          sudo apt update
          sudo apt install -y git 
      - name: Run setup script
        run: make deploy

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install required packages
      run: |
        brew upgrade -f
        brew install -f git 
    - name: Run setup script
      run: make deploy
   
  archlinux:
    runs-on: ubuntu-18.04
    container: archlinux/base:latest
    steps:
      - uses: actions/checkout@v1
      - name: Install required packages
        run: |
          pacman -Syu --noconfirm
          pacman -S git --noconfirm
          pacman -S make --noconfirm
      - name: Run setup script
        run: make deploy
